@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    font-family: 'GangwonEdu_OTFBoldA';
    border-left: 2px solid #000;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-size: 50px;
}

#profile_img {
    width: 170px;
    margin-right: 10px;
    float: left;
}

main p {
    line-height: 150%;
}

.info {
    font-size: 30px;
}

.content {
    font-size: 25px;
}