html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 72%;
  height: 100%;
  margin: 0 auto;
}

.english {
  font-family: 'Manrope', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  align-items: center;
}

.logo img{
  width: 250px;
  height: auto;
}

.menu-bar {
  flex: 1;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  flex: 1;
  border-left: 2px solid #777;
  padding: 0 35px;
  position: relative;
}

.menu-bar ul li:first-child {
  border-left: none;
}

.menu-bar ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.banner {
  height: 65%;
  text-align: center;
}

.banner .btn {
  background-color: #ffff;
  cursor: pointer;
}

.banner .btn img {
  margin: 0 15px;
  padding-top: 3px;
  height: 15px;
}

.slider {
  border: 2px solid #000;
  background-color: #fff;
  overflow: hidden;
  height: 90%;
  text-align: center;
  margin-bottom: 4px;
}

.slider img {
  width: 100%;
  height: 100%;
  display: none;
}

.slider img:first-child {
  display: inline-block;
}

.layer {
  display: flex;
}

.block {
  border-bottom: 2px solid #000;
  flex: 1;
}

.block div {
  display: flex;
}

.block h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.block a {
  padding-right: 30px;
  font-size: 5px;
  color: #000;
  text-decoration: none;
  align-self: center;
  text-align: end;
  flex: 1;
}

.block p {
  margin-bottom: 30px;
}

#contact ul {
  padding-left: 20px;
}

#contact li{
  margin: 20px 0;
}

#contact a img {
  height: 20px;
}

footer {
  height: 20%;
}
